@import "../variables";

.main {
  width: 100vw;
  height: 100vh;
  padding: 170px 0 0;
  background: url("../../img/background-headphones.jpg") right no-repeat;
}

.container {
  padding: 160px 75px 0;
  position: relative;
}

.product {
  max-width: 720px;

  &__title {
    font-size: 62px;
    margin: 0 0 12px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 8px;
      left: 3.5px;
      width: 400px;
      height: 16px;
      background: $color-primary;
      z-index: -1;
    }
  }

  &__rating {
    margin: 0 0 40px 0;
  }

  &__description {
    margin: 0 0 24px 0;
    font: 19px "AirbnbCereal-Lt";
  }

  &__price {
    font: 62px "AirbnbCereal-Bd";
    line-height: 61px;
    color: $color-primary;
  }

  &__price-previous {
    font-size: 25px;
    text-decoration: line-through;
    margin: 0 0 40px 0;
  }

  &__image {
    position: absolute;
    top: -16%;
    left: 36%;

    > img {
      width: 690px;
    }
  }
}

.product-rating {
  display: flex;
  align-items: center;

  &__text {
    margin: 0 0 0 10px;
    font-size: 18px;
    color: $color-secondary;
    font: 18px "AirbnbCereal-Lt";
  }
}

.product-buttons {
  display: flex;
  margin: 0 0 13px 0;
}

.product-button {
  padding: 14px 28px;
  background-color: transparent;
  color: $color-primary;
  font: 19px "AirbnbCereal-Bd";
  cursor: pointer;
}

.add-to-cart {
  height: 58px;
  display: flex;
  align-items: center;
  background-color: $color-primary;

  &__icon {
    width: 26px;
    height: 27px;
    margin: 0 7px 0 0;
  }

  &__text {
    font: 19px "AirbnbCereal-Md";
    line-height: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
  }
}

.product-quantity {
  margin: 0 0 0 8px;
  border: 3px solid $color-primary;

  &__minus,
  &__plus {
    padding: 14px 14px;
  }

  &__number {
    font: 19px "AirbnbCereal-Bd";
    color: $color-primary;
  }
}

.add-to-favorites {
  display: flex;
  background: transparent;
  border-bottom: 2px solid white;

  &__icon {
    width: 15px;
    height: 15px;
  }

  &__text {
    margin: 0 0 3px 3px;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
}
