@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

input,
textarea {
  outline: none;
}

body {
  background: $color-background;
  font-family: "AirbnbCereal-Md";
  font-size: 14px;
  color: white;
}
