@import "variables.css";
@import "fonts.css";
@import "default.css";

@import "components/header.css";

.main {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
  padding: 170px 0 0;
}
